# Configuración del Entorno de Desarrollo
APP_ENV=local
APP_DEBUG=true

# Configuración de Conexión a MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cms_db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Credenciales Semilla para el Administrador del Sistema
ADMIN_NAME=""
ADMIN_EMAIL=
ADMIN_PASS=